body{
    width: 800px;
    margin: 0 auto;
 }
 img{
    width: 200px;
    height:200px;
 }
 
 h1,h2{
    text-align:center
 }
 
 div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: url(./phone_globe.jpg) no-repeat 50% center;
 }
 
 body{
 
    background-image:
    url("./images/phone_globe.jpg" );
    background-repeat:no-repeat;
 }
 
 div{ 
   border: 5px solid black;
    display: flex; 
}
