/* style referenced from SmartPhoneProducts2 */
/* general styling */
html {
  
  font-family: 'American TypeWriter', serif;
  background-color: tan;
  background-image: url("./Star_Wallpaper.jpg");
  font-size: 40px;
  text-align: center; /* Product Images, Price, and Quantity */ 

}
/*headings*/

h1 {
  font-family: 'American TypeWriter', serif;
  text-align: center; /* Title Page */
  font-size: 50px;

} 
h2 {
  font-family: 'American TypeWriter', serif;
  text-align: left; /* Product Names */
  font-size: 40px;

}


/*image */
img {
width: 200px;
height: 200px;
position: relative;
border-radius: 5px;
margin-right: auto;
margin-left: auto;
}
/* Took from CSS Styling Website /*

