/* style referenced from SmartPhoneProducts2 */
/* general styling */
html {
  
  font-family: 'Impact', sans-serif;
  background-color: tan;
  font-size: 15px;
  text-align: left;
  
  
}
/*headings*/

h1, h2 {
  font-family: 'Impact', sans-serif;
  text-align: left;
  font-size: 20px;

}
/*image */
img {
width: 100px;
height: 100px;
position: relative;
border-radius: 8px;
margin-right: auto;
margin-left: auto;

}