/* style referenced from SmartPhoneProducts2 */
/* general styling */
html {
  
  font-family: 'URW Chancery L', cursive;
  background-color: tan;
  background-image: url("./Star_Background.jpeg");
  font-size: 40px;
  text-align: left; 
}
/*headings*/

h1 {
  font-family: 'URW Chancery L', cursive;
  text-align: center;
  font-size: 50px;

} 
h2 {
  font-family: 'URW Chancery L', cursive;
  text-align: left;
  font-size: 40px;

}

/*image */
img {
width: 400px;
height: 110px;
position: relative;
border-radius: 8px;
margin-right: auto;
margin-left: auto;
}
/* Took from CSS Styling Website /*